*.pyc
.env
*.css
*.sass-cache*
*.diff
*.sql
*.sublime*
.codeintel
.venv
*.retry
pygraz_website/static/css/icomoon
*.DS_Store
*.zip
*.mo
pygraz_website/settings/live.py
pygraz_website/settings/stage.py
live.ini
stage.ini
Procfile
.tox
.coverage
htmlcov
