<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% block title %}{% endblock %}PyGRAZ</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />
</head>
<body class="{% block page_class %}{% endblock %}">
<a href="#primary-nav" id="nav-helper">Menü</a>
<nav id="primary-nav"><div class="w">
    <ul>
        <li class="{% block nav-start %}{% endblock %}" ><a href="/">Start</a></li>
        <li class="{% block nav-meetups %}{% endblock %}"><a href="/#past-meetups">Meetups</a> (<a href="{% url "ical" %}">iCal</a>)</li>
        <li class="{% block nav-companies %}{% endblock %}"><a href="/companies/">Firmen</a></li>
        <li class=""><a href="http://groups.google.com/group/python-graz/" rel="external">Mailinglist</a></li>
        <li class=""><a href="https://plus.google.com/u/0/b/101185345132127945047/" rel="external">Google+</a></li>
        <li class=""><a href="http://twitter.com/pygraz" rel="external">Twitter</a></li>
    </ul>
    <div id="accountbox" class="{% if user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">
        {% if user.is_authenticated %}
        <a class="iconb" data-icon="☺" href="{% url "userena_profile_edit" username=user.username %}">Angemeldet als {{ user.username }}</a>
        <ul class="account-actions">
            <li><a href="{% url "userena_email_change" username=user.username %}">E-Mail ändern</a></li>
            <li><a href="{% url "userena_password_change" username=user.username %}">Passwort ändern</a></li>
            <li><a href="{% url "my_contents" username=user.username %}">Meine Inhalte</a></li>
            <li><a href="{% url "userena_signout" %}?next={{ request.get_full_path }}">Abmelden</a></li>
        </ul>
        {% else %}
        <a href="{% url "userena_signin" %}?next={{ request.get_full_path }}">Anmelden</a> | <a href="{% url "userena_signup" %}">Registrieren</a>
        {% endif %}
    </div>
</div></nav>
<div class="container">
    <header>
        <a id="logo" href="/"><img src="/static/imgs/logo.png" style="width: 276px; height: 80px" alt="PyGRAZ" /></a>
        <p id="mission"><b>PyGRAZ</b> ist eine Usergroup mit die Python-Programmiersprache in Graz. Wir treffen uns regelmässig <em>am ersten Dienstag</em> im Monat entweder
            im ESC, Spektral oder im Gösserbräu.</p>
    </header>
    <div id="body">
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ msg.message }}
            </div>
            {% endfor %}
        {% endif %}
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <div class="box" id="credits">
            &copy; 2010-{% now "Y" %}, PyGRAZ
            <br />Powered by <a href="https://www.djangoproject.com/" rel="external" target="_blank">Django</a>
            <br />Hosted by <a href="https://www.digitalocean.com/?refcode=6a69f8676d65" rel="external" target="_blank">DigitalOcean</a> (Referal link)
        </div>
    </footer>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
{% block tail %}{% endblock %}
</body>
</html>