{% extends "meetups/base.html" %}
{% block page_class %}meetup-details{% endblock%}
{% block title %}{{ meetup.start_date|date:"DATE_FORMAT" }} « Meetups « {% endblock %}
{% block body %}
    <h1>Meetup vom {{ meetup.start_date.date|date:"DATE_FORMAT" }}<span class="time"> um {{ meetup.start_date|time:"TIME_FORMAT" }} Uhr</span></h1>
    {% include "meetups/meetup-data.html" with show_notes="True" show_rsvps="True" %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ disqus.site_id }}';
        var disqus_identifier = "meetup:{{ meetup.pk }}";
        var disqus_url = "{{ meetup.get_permalink }}";
        var disqus_developer = {% if disqus.developer_mode %}1{% else %}0{% endif %};
        var disqus_title = $('title').text();
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Bitte aktiviere JavaScript um <a href="http://disqus.com/?ref_noscript">Disqus-Kommentare</a> sehen zu können.</noscript>
    <a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock body %}