form {
    label {
        display: block;
        font-size: 14px;
    }
    input, textarea {
        border: 1px solid #CCC;
        padding: 7px;
        line-height: 120%;
        background: #FAFAFA;
        &:focus {
            border-color: $blue;
            background: #FFF;
        }
    }
    input[type=text], input[type=email], input[type=password] {
        width: 250px;
    }
    input[type=submit], button[type=submit] {
        background: $blue;
        @include background-image(linear-gradient(lighten($blue, 10), $blue));
        @include border-radius(3px);
        color: #FFF;
        font-weight: bold;
        display: inline-block;
        padding: 5px;
        &:hover {
            background: lighten($blue, 10);
        }
    }
    textarea {
        width: 400px;
        height: 250px;
        line-height: 130%;
    }
    .help-inline, .help-block {
        display: block;
        font-size: 90%;
        color: #888;
        margin-top: 3px;
    }
    .control-group {
        margin-bottom: 10px;
        &.error {
            input, textarea {
                border-color: $red;
            }
            label, .help-inline {
                color: $red;
            }
        }
    }
    .buttonHolder {
        border-top: 1px dotted #CCC;
        padding: 10px 0;
        input {
            font-size: 13px;
        }
    }
    label.radio {
        margin-bottom: 5px;

        span {
            display: block;
            font-size: 80%;
            padding-left: 18px;
        }
    }
}

.btn {
    border: 0;
    display: inline-block;
    padding: 5px;
    line-height: 18px;
    font-weight: bold;
    font-size: 14px;
}

/**
 * On fullpage-form pages we can put the help to the right of the input field and the label
 */
.fullpage-form form {
    .control-group {
        @include pie-clearfix;
        border-top: 1px dotted #DDD;
        margin-bottom: 0;
        padding: 10px 0;
    }
    .control-group > label {
        width: 150px;
        display: table-cell;
        vertical-align: middle;
    }
    .controls {
        display: table-cell;
        width: 770px;
    }
    .help-block {
        float: right;
        width: 310px;
    }
}
