$blue: #306998;
$yellow: #ffd743;
$red: darken(red, 10);
$green: green;
$baseColor: #333;

@import "compass/utilities/general/clearfix";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "fonts";
@import "forms";
@import "icomoon/style";

html {
    //background-color: #EEE;
}
body {
    font-family: 'PTSans', Arial;
    margin: 0;
    color: $baseColor;
    //@include background(linear-gradient(#FFF, #DDD));
    //background: #FAFAFA;
}

body > .container {
    max-width: 920px;
    margin: auto;
    //@include border-radius(2px);
    //@include box-shadow(#cecece 0 3px 3px);
    padding: 20px;
    padding-top: 80px;
    background: #FFF;
}

a {
    color: #666;
    text-decoration: underline;
    &:hover {
        color: $blue;
    }
}

.icona:after {
    padding-left: 5px;
}

.iconb:before {
    padding-right: 5px;
}

#nav-helper {
    display: none;
    text-align: center;
    font-weight: bold;
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px;
}

#primary-nav {
    z-index: 1000;
    background: #333;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    color: #FFF;
    .w {
        max-width: 920px;
        margin: 0 auto;
        position: relative;
        @include pie-clearfix;
    }
    &:hover {
        background: #333;
    }
    ul {
        width: 620px;
        float: left;
        padding: 0;
        margin: 0 auto;
        list-style: none;
        @include pie-clearfix;
    }
    li {
        float: left;
        padding: 7px;
        display: block;
    }
    a {
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
    }
    li.active a, a:hover {
        color: $yellow;
    }

    #accountbox {
        position: absolute;
        right: 0;
        top: 0;
        width: 250px;
        text-align: right;
        > a {
            display: block;
            padding: 7px;
        }
        &.logged-out {
            a {
                display: inline-block;
            }
        }
        ul {
            display: none;
            li {
                float: none;
                border-top: 1px dotted #FFF;
            }
        }
        &:hover ul {
            width: 100%;
            display: block;
            background: #333;
        }
    }
}

header {
    @include pie-clearfix;
    //border-bottom: 1px solid #E1E1E1;
    padding-bottom: 30px;
}

#mission {
    min-width: 200px;
    max-width: 575px;
    float: right;
    line-height: 1.3em;
    padding: 10px;
    font-weight: bold;
    margin: 0;
    color: #666;
}

#logo {
    display: block;
    width: 276px;
    height: 80px;
    float: left;
}

#body {
    padding: 10px 0;
    @include pie-clearfix;
}

footer {
    border-top: 1px solid #E1E1E1;
    padding: 10px 0;
    font-size: 90%;
    h2 {
        font-weight: bold;
        font-size: 100%;
        text-transform: uppercase;
    }
    #credits {
        text-align: right;
    }
}

table {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    td, th {
        padding: 3px 5px;
        border-bottom: 1px solid #DDD;
    }
    thead {
        th {
            color: #AAA;
            font-weight: bold;
            text-align: left;
        }
    }
    tbody {
        tr:nth-child(even) td {
            background: #EFEFEF;
        }
        tr:hover {
            background: #FAFAFA;
        }
    }
}

.session, .session-details {
    h1 {
        margin-bottom: 5px;
        font-size: 19px;
        a {
            text-decoration: none;
        }
    }
    .meta {
        margin-top: 0;
        font-size: 95%;
        font-style: italic;
        padding-left: 25px;
    }
}

/**
 * Frontpage
 */
body.frontpage {
    #next-meetup {
        @include pie-clearfix;
        &.empty {
            font-size: 120%;
            text-align: center;
            @include border-radius(5px);
            padding: 10px;
            background: #EFEFEF;
        }
    }

    .upcoming {
        background: #EEE url(../imgs/toparrow-bg.png) 50% 0% no-repeat;
        padding: 20px 0;
        border-bottom: 3px solid #DDD;

        > h1, > h1 > a {
            //background: $blue;
            //@include background(linear-gradient(lighten($blue, 10), $blue));
            color: $blue;
            color: $yellow;
            padding: 10px;
            background: #333;
            margin: 0;
            text-align: center;
            font-family: 'LeagueGothic';
            font-weight: normal;
            font-size: 32px;
            text-decoration: none;
        }
    }
    #sessions-and-notes, #location-info, .meetupcom {
        padding: 2%;
    }
    #sessions-and-notes {
        padding-right: 0;
    }
    #sessions-and-notes {
        @include pie-clearfix;
        float: left;
        max-width: 59%;
    }
    .session {
        margin-top: 10px;
        &:first-child {
            margin-top: 0;
        }
    }
    #location-info, .meetupcom {
        float: right;
        max-width: 35%;
        min-width: 250px;
        background: none;
        clear: right;
    }
    #past-meetups, #session-proposals {
        margin-top: 2em;
        padding: 10px;
    }
    #past-meetups {
        float: right;
        max-width: 35%;
        min-width: 250px;
        @include background-image(linear-gradient(lighten($blue, 55), #FFF));
        @include border-radius(5px 5px 0 0);
    }
    #session-proposals {
        float: left;
        max-width: 60%;
        // min-width: 380px;
    }
}

#location-info {
    font-size: 90%;
}

.meetupcom {
    .logo {
        float: left;
        margin: 0 10px 0px 0;
    }
}
.meetup-data {
    .map {
        height: 250px;
        margin-bottom: 1em;
    }
    .meetupcom {
        font-size: 90%;
        @include background-image(linear-gradient(lighten(red, 40), white));
        a {
            font-weight: bold;
            font-size: 120%;
            color: black;
            text-decoration: none;
        }
    }
}

#info {
    background: #EFEFEF;
    padding: 10px;
    @include border-radius(5px);
    margin-bottom: 30px;
}

body.meetup-details {
    h1 .time {
        font-size: 22px;
    }
    #sessions-and-notes {
        float: left;
        max-width: 60%;
    }
    .meetupcom, #location-info {
        float: right;
        max-width: 31%;
        padding: 0px 2% 10px 2%;
        clear: right;
    }
    #location-info {
        background: lighten($blue, 40);
        min-width: 250px;
        @include background-image(linear-gradient(lighten($blue, 50), #FFF));
        @include border-radius(5px 5px 0 0);
    }
}

article.session-details {
    position: relative;
    .actions {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
    }
}

.actions {
    list-style: none;
    float: right;
    li {
        padding: 0;
        @include border-radius(3px);
        background: #EFEFEF;
        &:first-child {
            margin-bottom: 2px;
        }
    }
    a {
        padding: 5px 8px;
        display: block;
        text-decoration: none;
        &:hover {
            color: #FFF;
            @include border-radius(3px);
            background: $blue;
        }
    }
}

.alert {
    padding: 10px;
    border: 2px solid lighten($yellow, 30);
    background: lighten($yellow, 30);
    @include background-image(linear-gradient(lighten($yellow, 35),lighten($yellow, 30)));
    @include border-radius(5px);
    margin-bottom: 5px;
    &:first-child {
        margin-top: 5px;
    }
    .close {
        display: none;
    }
    &.alert-success {
        border-color: lighten($green, 65);
        background: lighten($green, 65);
        @include background-image(linear-gradient(lighten($green, 70), lighten($green, 65)));
        color: darken($green, 30);
    }
    &.alert-error {
        border-color: lighten($red, 50);
        background: lighten($red, 50);
        @include background-image(linear-gradient(lighten($red, 55), lighten($red, 50)));
        color: darken($red, 20);
    }
}

#disqus_thread {
    clear: both;
    padding-top: 20px;
}

@media all and (max-width: 950px) {
    #mission {
        max-width: 50%;
    }
}

@media all and (max-width: 765px) {
    body > .container {
        padding: 0 10px 10px 10px;
    }
    #mission {
        max-width: 98%;
        padding: 10px 1% 0px 1%;
        float: none;
        clear: both;
    }
    body.frontpage {
        #session-proposals, #past-meetups {
            float: none;
            max-width: 100%;
            padding: 0;
            h1 {
                margin: 5px 0;
            }
        }
        #past-meetups {
            padding: 2%;
        }
    }
    form {
        textarea {
            max-width: 90%;
            min-width: 90%;
            width: auto;
        }
        input[type="text"], input[type="email"], input[type="password"] {
            max-width: 250px;
            min-width: 90%;
        }
    }
    article.session-details .actions {
        position: static;
    }
    body.frontpage, body.meetup-details {
        #sessions-and-notes, #location-info, .meetupcom {
            max-width: 96%;
            padding: 5px 2%;
            float: none;
            h1 {
                margin: 5px 0;
            }
        }
        #location-info {
            min-width: 250px;
        }
    }
    #primary-nav {
        position: static;
        margin-bottom: 20px;
        ul, #accountbox {
            position: static;
            display: block;
            float: none;
            width: auto;
            text-align: left;
        }
    }
}

#gplus {
    padding: 10px;
    background: $yellow;
    @include border-radius(5px);
    @include background-image(linear-gradient(lighten($yellow, 30), #FFF));
    @include pie-clearfix;
    position: relative;
    h1 {
        margin: 0;
    }
    .evt-link {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .info {
        float: right;
        width: 38%;
        margin: 0 0 0 2%;
        font-size: 90%;
    }
    .fineprint {
        text-align: right;
        margin-left: 20%;
        padding-top: 20px;
        color: lighten($baseColor, 30);
    }
    #rsvps {
        float: left;
        width: 40%;
        margin-left: 20%;
        h1 {
            font-size: 100%;
        }
        ul {
            margin: 3px 0 0 0;
            padding: 0 0 0 20px;
        }
    }
}

.fineprint {
    font-size: 75%;
    clear: both;
}

body.company-details {
    #map {
        height: 300px;
    }
    .meta {
        float: right;
        width: 300px;
        background: #EFEFEF;
        padding: 10px;
        margin: 16px 0 20px 20px;
        dl {
            margin: 0;
        }
        dt {
            font-weight: bold;
        }
    }
}

body.company-submission {
    fieldset {
        float: left;
        width: 46%;
        margin: 0 0 10px 0;
        border: 1px solid #CCC;
    }
    fieldset:nth-child(3) {
        float: right;
    }
    .buttonHolder {
        clear: both;
    }
}

.contenttype {
    width: 31%;
    float: left;
    margin: 0 1% 1% 20px;
}

// This redesigns the menu for smaller screens and puts it at the bottom of the
// output on browsers that support flexbox.
@media screen and (max-width: 480px) {
    body {
        display: -webkit-box;
        display: -webkit-flex;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        display: flex;
        flex-direction: column;
    }
    #nav-helper {
        display: block;
    }
    #primary-nav {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 2;
        order: 2;
        li {
            border-top: 1px dotted #FFF;
            float: none;
        }
        > .w > ul > li:first-child {
            border-top: none;
        }
        #accountbox {
            margin-top: 20px;
        }
        #accountbox ul {
            display: block;
        }
    }
    body > .container {
        -webkit-box-ordinal-group: 1;
        -webkit-order: 1;
        order: 1;
        padding-top: 20px;
    }
}