{% load markdown_tags %}
<div class="meetup-data">
    <div id="sessions-and-notes">
        {% if meetup.description %}
            <section id="description">{{ meetup.description|markdown }}</section>
        {% endif %}
        <section id="planned-sessions">
            <h1>{% if meetup.is_in_future %}Geplante {% endif %}Sessions</h1>
            {% with meetup.sessions.all as sessions %}
                {% if sessions %}
                    {% for session in sessions %}
                    <section class="session">
                        <h1><a class="iconb" data-icon="■" href="{{ session.get_absolute_url }}">{{ session.title }}</a></h1>
                        {% if session.speaker_name or session.speaker %}
                        <p class="meta">von {% if session.speaker %}{{ session.get_speaker_name }}{% else %}{{ session.speaker_name }}{% endif %}</p>
                        {% endif %}
                        {% if session.abstract %}
                        <div class="abstract">{{ session.abstract|markdown }}</div>
                        {% endif %}
                        {% if session.slides_url %}
                            <p data-icon="❏" class="slides iconb"><a href="{{ session.slides_url }}" rel="external" target="_blank">Folien</a></p>
                        {% endif %}
                    </section>
                    {% endfor %}
                {% else %}
                    {% if meetup.is_in_future %}
                        <p class="empty">Derzeit sind noch keine Sessions für dieses Meetup fix geplant. Falls du einen Session-Vorschlag eingereicht hast, bitte lass
                            uns wissen, falls du die Session bei diesem Meetup halten möchtest.</p>
                    {% else %}
                        <p class="empty">Keine Sessions für dieses Meetup eingetragen.</p>
                    {% endif %}
                {% endif %}
            {% endwith %}
        </section>
        {% if show_notes and meetup.notes %}
        <section id="notes">
            <h1>Notizen, Links, etc.</h1>
            {{ meetup.notes|markdown }}
        </section>
        {% endif %}
        {% if show_rsvps %}
        {% if rsvps.coming %}
        <section class="meetup__rsvps meetup__rsvps__coming">
            <p>Folgende Personen haben ihr Kommen angekündigt:</p>
            <ul>
                {% for rsvp in rsvps.coming %}
                <li><a href="{{ rsvp.url }}">{{ rsvp.name }}</a> {% if rsvp.source == 'meetupcom' %}(via <a href="{{ meetup.get_meetupcom_url }}">Meetup.com</a>){% endif %}</li>
                {% endfor %}
            </ul>
            <p class="meetup__rsvps__disclaimer">Diese Liste enthält derzeit nur Anmeldungen auf Meetup.com.</p>
        <section>
        {% endif %}
        {% if meetup.gplus_id %}
        <section id="gplus">
            <a href="https://plus.google.com/events/{{ meetup.gplus_id }}" title="Event-Seite auf Google+" class="evt-link"><img src="/static/imgs/gplus-64.png" alt="Event auf Google+" /></a>
            <p class="info">Dieses Treffen wurde auch auf <a href="https://plus.google.com/events/{{ meetup.gplus_id }}">Google+</a>
                angekündigt. Wenn Du teilnehmen möchtest, trage dich bitte dort ein.</p>
        </section>
        {% endif %}
        {% endif %}
    </div>
    {% if meetup.meetupcom_id and meetup.is_in_future %}
    <div class="meetupcom">
        <p><img src="/static/imgs/meetup-logo.png" alt="" class="logo"/>Falls du vorhast, zu kommen, bitte trage dich auf <a href="{{ meetup.get_meetupcom_url}}">Meetup.com</a> ein! Es ist nicht zwingend erforderlich, macht aber unsere Arbeit leichter, wenn wir abschätzen können, wie viele Leute in etwa kommen.</p>
    </div>
    {% endif %}
    <section id="location-info" {% if not meetup.location %}class="empty"{% endif %}>
        {% if meetup.location %}
            <h1 class="iconb" data-icon="◉">Location: {{ meetup.location.name }}</h1>
            {% if meetup.location.address %}
                <p class="address">{{ meetup.location.address }}</p>
            {% endif %}
            {% if meetup.location.map_image %}
                <img src="{{ meetup.location.map_image.url }}" alt="Birdview image to location {{ meetup.location.name }}" />
            {% endif %}
            <div class="description">{{ meetup.location.description }}</div>
        {% else %}
            {% if meetup.is_in_future %}
                <p class="empty">Die Location steht zum jetzigen Zeitpunkt leider noch nicht fest.</p>
            {% else %}
                <p class="empty">Keine Location für dieses Meetup eingetragen.</p>
            {% endif %}
        {% endif %}
    </section>
</div>
